<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938008334884-jqp1ehl5c395hre06a3qs39ul6navus0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938008334884-jqp1ehl5c395hre06a3qs39ul6navus0</string>
	<key>API_KEY</key>
	<string>AIzaSyDuw0UZKfqRe3EehqX9DVdzASEtd6Kk6OA</string>
	<key>GCM_SENDER_ID</key>
	<string>938008334884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bundle.PracticalHemangio2h</string>
	<key>PROJECT_ID</key>
	<string>practicalhemangio2h</string>
	<key>STORAGE_BUCKET</key>
	<string>practicalhemangio2h.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938008334884:ios:3c9d32242e39626c4e7eb1</string>
</dict>
</plist>